<body>
    <h1>Add Lecturer</h1>
    <form action="/addLecturer" method="POST">
        <label>ID:</label>
        <input type="text" name="_id" maxlength="4" minlength="4"><br>
        <label>Name</label>
        <input type="text" name="name" minlength="5"><br>
        <label>Dept</label>
        <input type="text" name="dept" maxlength="3" minlength="3"><br>
        <input type="submit" value="OK">
    </form>
</body>